<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT your chat</title>
    <link rel="stylesheet" href="/styleEdit.css"/>
</head>
<body>
    <p>Edit your chat: <%= chat._id %> </p>
    <p>Thsi chat was sent by <%=chat.from%> to <%=chat.to%></p>
<form method="POST"  action="/chats/<%=chat._id%>?_method=PUT" >
    <textarea name="msg" rows="10" cols="50"><%=chat.msg%></textarea>
    <button>Edit</button>
</form>

</body>
</html>